@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}

<h1>@ViewData["Title"]</h1>

<p>My name is Anna. I like to code.</p>

<p>
    <img border="0" alt="logo" src="li.png" width="30" height="30">
    <a class="nav-link text-dark" href="http://www.linkedin.com/in/anna-nordstr%C3%B6m-56111b239">My Linkedin page</a>
</p>
