@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}
<head>
    <link rel="stylesheet" href="../wwwroot/css/site.css">
</head>


<div class="text-center">
    <h1 class="display-4">Portfolio</h1>
    <p>The time: @DateTime.Now</p>  
</div>

<div class="text-center">
    <p>Star projects:</p>
</div>

