@page
@model IndexModel
@{
    ViewData["Title"] = "Portfolio";
}
<head>
    <link rel="stylesheet" href="../wwwroot/css/site.css">
</head>


<div class="text-center">
    <h1 class="display-4">Portfolio</h1> 
</div>

<div class="text-center">
    <h3>Star projects</h3>
    <a class="nav-link text-dark" asp-area="" asp-page="/P1">Placeholder title (About me)</a>
</div>

